<div class="flex flex-col justify-center items-center px-20 h-80 mb-40">
    <h1 class="text-5xl font-bold">wellcome to blog section</h1>
    <p class="w-60/12">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aut officia
      nisi harum odio fugit excepturi dolores! Tempora sequi impedit voluptates,
      recusandae at eveniet porro consequatur? Modi molestias quia, incidunt hic
      reiciendis accusantium ad ipsam soluta voluptatibus recusandae temporibus
      nulla omnis quisquam nesciunt nemo sapiente fuga laboriosam consectetur odit
      eligendi!omnis quisquam nesciunt nemo sapiente fuga laboriosam consectetur
      odit eligendi!
    </p>
  </div>