.custom-card {
  background-color: #ffffff; // White background for the card
  border: 1px solid #e0e0e0; // Light gray border
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .header-image {
    // background: url('path/to/avatar-image.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .category-tag {
    background-color: #4caf50; // Green color
    color: #ffffff;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  mat-card-content {
    margin-top: 1rem;
    p {
      font-size: 16px;
      color: #333;
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    button {
      background-color: #2196f3; // Primary color
      color: #fff;
      border-radius: 4px;
      &:hover {
        background-color: #1976d2; // Darker shade on hover
      }
    }
  }
}
