<div class="login-container">
    <div class="login-left">
      <div class="logo">
     
      </div>
      <div class="login-image">
        <img src="../../../assets/login-image.png" alt="Login Image" />
      </div>
    </div>
    <div class="login-right">
      <div class="login-box">
        <h1>Log in</h1>
        <form   >
            <mat-form-field appearance="outline" class="input-field">
                <mat-label>Username or email</mat-label>
                <input matInput placeholder="username@example.com" name="email"  [(ngModel)]="email"/>
            </mat-form-field>
          <mat-form-field appearance="outline" class="input-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="********"  name="password"  [(ngModel)]="password" />
          </mat-form-field>
          <button mat-raised-button color="primary" class="login-button" (click)="login()">Sign In</button>
        </form>
      </div>
    </div>
  </div>
  







